<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.kangoextensions.leprosorium</string>
			<key>CFBundleShortVersionString</key>
			<string>0.8.3</string>
			<key>CFBundleVersion</key>
			<string>0.8.3</string>
			<key>Developer Identifier</key>
			<string>BW59Q53JZ2</string>
			<key>URL</key>
			<string>https://rpsl.info/leprosorium/leprosorium_0.8.3.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
