
.kg-content-notification {
    vertical-align: baseline !important;
    color: #000 !important;
    overflow: visible !important;
    visibility: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    background: #fff !important;
    border: solid 1px #AAA !important;
    left: -999px;
    top: -999px;
    width: auto !important;
    /* width: 300px !important; */
    display: block;
    z-index: 999999999 !important;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18) !important;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18) !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    overflow: hidden !important;
    opacity: 0 !important;
    transition: opacity 0.5s !important;
    -moz-transition: opacity 0.5s !important; /* Firefox 4 */
    -webkit-transition: opacity 0.5s !important; /* Safari and Chrome */
    cursor: default !important;
    min-width: 250px !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.kg-content-notification-shown {
    opacity: 1 !important;
    transition: opacity 0.5s !important;
    -moz-transition: opacity 0.5s !important; /* Firefox 4 */
    -webkit-transition: opacity 0.5s !important; /* Safari and Chrome */
}

.kg-content-notification-header {
    height: 15px !important;
    background: #DDD !important;
    border-bottom: solid 1px #AAA !important;
    padding: 1px 4px !important;
    overflow: hidden !important;
    width: auto !important;
}

.kg-content-notification-header-caption {
    font: normal 11px Arial, Helvetica !important;
    line-height: 13px !important;
    color: #555 !important;
    float: left !important;
    text-shadow: none !important;
    letter-spacing: normal !important;
    width: auto !important;
    margin: 1px 0 0 0 !important;
}

.kg-content-notification-header-close {
    width: 7px !important;
    height: 7px !important;
    display: block !important;
    float: right !important;
    margin: 1px 0 0 0 !important;
    padding: 3px !important;
}

.kg-content-notification-header-close img {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
}

.kg-content-notification-content {
    margin: 0 !important;
    padding: 8px !important;
    float: left !important;
    overflow: hidden !important;
    width: 100% !important;
}

.kg-content-notification-content-logo {
    float: left !important;
    margin-right: 2px !important;
}

.kg-content-notification-content-main {
    margin-left: 0 !important;
    overflow: hidden !important;
    padding: 0 0 2px 0 !important;
    color: #333 !important;
    text-align: left !important;
    text-shadow: none !important;
    letter-spacing: normal !important;
    font: normal 13px Arial, Helvetica !important;
    width: auto !important;
}

.kg-content-notification-content-header {
    font: bold 14px Arial, Helvetica !important;
    margin: 0 0 4px 0 !important;
    padding: 0 !important;
    border: 0 !important;
    color: #333 !important;
    text-shadow: none !important;
    letter-spacing: normal !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
}

.kg-content-notification-word {
    color: #d56e00 !important;
    font-weight: bold !important;
    font-size: 14px !important;
}