<div id="{id}" class="kg-content-notification" onselectstart="return false;" onmousedown="return false;">
    <div class="kg-content-notification-header">
        <div class="kg-content-notification-header-caption">{caption}</div>
        <div class="kg-content-notification-header-close" id="{id}_close">
            <img src="data:image/gif;base64,R0lGODlhBwAHAIABAKqqqv///yH5BAEAAAEALAAAAAAHAAcAAAIMBIKmsWrIXnLxuDMLADs="/>
        </div>
    </div>
    <div class="kg-content-notification-content" id="{id}_content">
        <img id="{id}_icon" src="{iconUrl}" class="kg-content-notification-content-logo"/>
        <div id="{id}_content-main" class="kg-content-notification-content-main">
            <div class="kg-content-notification-content-header">{title}</div>
            {text}
        </div>
    </div>
</div>